@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

:root {
  /* --bs-font-sans-serif: "Titillium Web", system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
  --bs-body-font-family: "Titillium Web", var(--bs-font-sans-serif);
  --border-small-width: 1px;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  padding-top: 0;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h1, .h1 {
  font-size: calc(2rem + 2.5vw);
  max-width: 80%;
}

h1 small {
  font-size: .6em;
  display: inline-block;
}

.lead {
  font-weight: 600;
}

caption {
  color: var(--bs-body-color);
}

.collapse {
  visibility: collapse;
}

.table {
  margin-bottom: 1.5rem;
}
tr {
  height: 52px;
}
.table>:not(caption)>*>* {
  border-bottom-width: var(--border-small-width);
}

select {
  min-width: 100px;
}

.section-intro {
  margin-bottom: 5rem;
  padding-top: 3rem;
}


.material-icons-outlined {
  font-size: 20px;
}

th .material-icons-outlined {
  display: flex;
}




.f1-style-a .table {
  border-collapse: separate;
  border-spacing: 0;
}

.f1-style-a .table > thead th {
    border-top: 4px solid #e10600;
}

.f1-style-a .table > thead th:last-child {
    border-right: 4px solid #e10600;
    border-radius: 0 12px 0 0;
}

.f1-style-a .table > tbody td:last-child {
    border-right: 4px solid #e10600;
}

.f1-style-a .round-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}




.f1-style-b .table {
  border-collapse: separate;
  border-spacing: 0;
}

.f1-style-b caption.h2 {
  position: absolute;
  top: -24px;
  background: #fff;
  z-index: 999;
  display: inline-block;
  padding-right: 16px;
  font-size: 24px;
  text-transform: uppercase;
}

.f1-style-b .round-container {
  border: 4px solid #e0e0e0;
  border: 4px solid #e10600;
  border-left: 0;
  border-bottom: 0;
  border-top-right-radius: 30px;
  padding-right: 24px;
  padding-top: 24px;
  position: relative;
  overflow-y: visible;
  overflow-x: visible;
  margin-top: 3rem;
  margin-bottom: 3rem;
}




section.pattern-border::before {
  background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/gray3-x1.png);
  background-size: 30px;
  content: '';
  display: block;
  background-size: 30px;
  background-repeat: repeat-y;
  background-position: 0;
  backface-visibility: hidden;
  max-width: 1320px;
  position: absolute;
  width: 100%;
  transform: translateX(0%) translate3d(0,0,0);
  top: 0;
  left: 0;
  bottom: 0;
}

section.pattern-border {
  position: relative;
  padding-left: 80px;
}




.driver-tag {
  display: flex;
  font-weight: 700;
}
.driver-tag::before {
  content: '';
  width: 4px;
  height: 14px;
  display: block;
  position: relative;
  background-color: #DFE2E6;
  margin-inline-end: 8px;
  align-self: center;
}
.driver-tag.team-redbull::before  { background-color: #0600EF; }
.driver-tag.team-mercedes::before { background-color: #00D2BE; }

.wc-standings .card {
  border-top: 0;
  border-left: 0;
  border-width: var(--border-small-width);
  border-radius: 0 0 16px 0;
  transition: margin .2s ease;
}
.wc-standings .card.p2 {
  margin-top: 24px;
}
.wc-standings .card > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wc-standings .wc-points {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}
.wc-standings .wc-points-label {
  line-height: 100%;
}

.wc-standings .wc-points-counter {
  font-size: 32px;
  line-height: 83%;
}
.wc-standings .wc-def-container {
  font-weight: 600;
  flex-direction: row;
  padding: 12px;
  border-top: var(--border-small-width) solid #DFE2E6;
}
.wc-standings .wc-def-label {
  margin-inline-end: 4px;
}
.wc-standings .wc-standings {
  padding-bottom: 16px;
  gap: 8px;
}

.wc-standings-position-container {
  /* flex-direction: row; */
  display: flex;
}
.wc-standings-position {
  margin-inline-end: 8px;
  font-weight: 700;
}


.text-muted {
  color: rgba(0,0,0,.3) !important;
}



/**
 * Custom select
 * source: https://www.w3schools.com/howto/howto_custom_select.asp
 */

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: var(--bs-body-color);
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 600;
}

.select-selected {
  background-color: #fff;
  border-radius: 4px;
  border: var(--border-small-width) solid #d0d0d2;
  display: flex;
  align-items: center;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  right: 12px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 12px;
  height: 12px;
  transition: transform .2s ease;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-block-start: 4px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgb(255 255 255) 0px 0px 0px 0px, rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items .same-as-selected {
  display: flex;
  align-items: center;
}

.select-items .same-as-selected::after {
  content: '';
  background-image: url('data:image/svg+xml;utf8,<svg class="h-5 w-5" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 12px;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items, .select-items div {
  width: max-content;
  min-width: 100%;
}


.select-items .disabled {
  opacity: .5;
  pointer-events: none;
}







/* Fireworks */
/* https://codepen.io/vii120/pen/KKapaaY */

:root {
  --clr-01: #0600ef;
  --clr-02: #ff0055;
}


.wc {
  position: relative; /* Optional */
}

.wc::after,
.wc::before {
  content: '';
  position: absolute;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
}

.wc::before {
  -webkit-animation: firework-md 1.2s both infinite;
          animation: firework-md 1.2s both infinite;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
  top: 25%;
  left: 90%;
}
.wc::after {
  -webkit-animation: firework-lg 1.2s both infinite;
          animation: firework-lg 1.2s both infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  top: 45%;
  left: 60%;
}


@keyframes firework-md {
  0%, 100% {
    opacity: 0;
  }
  10%, 70% {
    opacity: 1;
  }
  100% {
    box-shadow: 
    -0.7rem 0rem 0      var(--clr-01), 
    0.7rem 0rem 0       var(--clr-01), 
    0rem -0.7rem 0      var(--clr-01), 
    0rem 0.7rem 0       var(--clr-01), 
    0.49rem -0.49rem 0  var(--clr-01), 
    0.49rem 0.49rem 0   var(--clr-01), 
    -0.49rem -0.49rem 0 var(--clr-01), 
    -0.49rem 0.49rem 0  var(--clr-01);
  }
}
@keyframes firework-lg {
  0%, 100% {
    opacity: 0;
  }
  10%, 70% {
    opacity: 1;
  }
  100% {
    box-shadow: 
      -0.9rem 0rem 0      var(--clr-02), 
      0.9rem 0rem 0       var(--clr-02), 
      0rem -0.9rem 0      var(--clr-02), 
      0rem 0.9rem 0       var(--clr-02), 
      0.63rem -0.63rem 0  var(--clr-02), 
      0.63rem 0.63rem 0   var(--clr-02), 
      -0.63rem -0.63rem 0 var(--clr-02), 
      -0.63rem 0.63rem 0  var(--clr-02);
  }
}



/* Jumping trophy */
/* https://css-tricks.com/making-css-animations-feel-natural/ */
.wc-standings .wc-def-container {
    display: flex;
}

.wc {
  display: flex;
  height: auto;
  width: auto;
}
.trophy {
  font-weight: normal;
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: transparent;
  height: auto;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 100%;
}
.animation-bounce {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-10px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-0.7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}